

body {
	font-family: Arial;
}

.all {
	margin: 0 auto;
	 width: 870px;
	 padding: 7px 50px 50px 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h2 {
	text-align: center;
}

.info {
	text-align: center;
	margin-bottom: 8px;
}

.line {
	 border-top: 2px solid grey;
		margin: 8px;
}

.info .stud {
	text-align: left;
}

.reason {
	margin-bottom: 8px;
}

.reason p {
	margin-bottom: 8px;
}

ul {	
	line-height: 1.5;
}

.contact	{
	margin-bottom: 8px;
}

.contact p{
	line-height: 1;
}

.tele {
	margin-bottom: 15px;
}

.vk {
	margin-top: 8px;
}

.feedback p{
	line-height: 1;
}