

body {
	font-family: Arial;
}

.all {
	margin: 4% 4% 4% 4%;
}

h2 {
	text-align: center;
}

.info {
	text-align: center;
	margin-bottom: 3%;
}

.line {
	 border-top: 2px solid grey;
		margin: 8px 0;
}

.info .stud {
	text-align: left;
}

.reason {
	margin-bottom: 3%;
}

.reason p {
	margin-bottom: 3%;
}

ul {	
	line-height: 1.5;
}

.contact	{
	margin-bottom: 3%;
}

.contact p{
	line-height: 1;
}

.tele {
	margin-bottom: 5%;
}

.vk {
	margin-top: 3%;
}

.feedback p{
	line-height: 1;
}